{% set pageTitle = "Accessibility and inclusive research" %}
{% set pageDescription = "You must include people with a range of access needs at every stage of testing." %}
{% set pageSection = "User research" %}
{% set subSection = "Accessibility " %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "User Research Lead" %}
{% set backlog_issue_id = "1" %}
{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block notificationBanner %}

<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      You'll be assessed on this
    </span>
  </h3>
   <p>Central Digital and Data Office (CDDO) and DfE service assessments will ensure that you have met the following Service Standard points: </p>
   <ul class="nhsuk-list">
   <li><a href="/standards/service-standard/5">Point 5 - Make sure everyone can use the service</a></li>
</ul>
</div>

{% endblock %}


{% block bodyContent %}

    {% markdown %}

        {{ list({
  "title": "Do",
  "type": "tick",
  "hidePrefix": "true",
  "items": [
    {
      "item": "consider the range of people with access needs you might need to speak to when writing a research plan"
    },
    {
      "item": "include neurodiverse people, for example, people who have <abbr title=\"Attention Deficit Hyperactivity Disorder\">ADHD</abbr>, autism or dyslexia"
    },
    {
      "item": "include people with <a href=\"/standards/service-standard/5#design-an-inclusive-service\">permanent, temporary and situational access needs</a>"
    }
  ]
}) }}

    {{ list({
  "title": "Do not",
  "type": "cross",
  "hidePrefix": "false",
  "items": [
    {
      "item": "do accessibility testing at the end of the project"
    },
    {
      "item": "have an accessibility audit just before your assessment"
    },
    {
      "item": "provide a service which has not been tested with users with access needs"
    }
  ]
}) }}


## How many people to test with

You should think about the number of people to test with, compared to the number of people who will use the service. 

Research suggests <a href="https://www.nngroup.com/articles/summary-quant-sample-sizes/" target="_blank" rel="noopener norferrer">40 participants is an adequate number for most quantitative methods (opens in a new tab)</a>. 

You may be able to <a href="https://www.nngroup.com/articles/why-you-only-need-to-test-with-5-users/" target="_blank" rel="noopener norferrer">test with fewer people for qualitative research methods (opens in a new tab)</a>.

You should also consider how many people may have access needs when thinking of the number of people to recruit as participants.

{{ card({
  "href": "https://how-many.herokuapp.com/",
  "clickable": "true",
  "heading": "Estimate how many people using the service might have access needs",
  "headingClasses": "nhsuk-heading-m",
  "description": "This service provides an estimate of the number and types of users with access needs you should consider in user research.",
  "external": "true"
}) }}

## How you'll be assessed at service assessments

    To meet the Service Standard, you'll need to demonstrate at service assessments how you have tested your service so it works for everyone.

    ### Discovery

    - consider the assisted technology routes to the service, for example, people using <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies" target="_blank" rel="noopner noreferrer">screen readers, speech recognition software and magnifiers (opens in new tab)</a>.
    - research with users with access needs and who you may need to test in alpha with

   {{ actionLink({
  "text": "Additional guidance for user research in discovery",
  "href": "/user-research/phase/discovery"
}) }}

    ### Alpha

- consider the diversity of end users
- think about and test assisited digital routes
- test with people with access needs

{{ actionLink({
  "text": "Additional guidance for user research in alpha",
  "href": "/user-research/phase/alpha"
}) }}


### Beta and live

- demonstrate how you’ve done user research with people who have access needs from the time you started designing the service
- demonstrate how you’ve tested with users who need assisted digital support
- do not assume you can solely rely on external accessibility audits, for example Digital Accessibility Centre audits (DAC)

{{ actionLink({
  "text": "Additional guidance for user research in  beta and live",
  "href": "/user-research/phase/beta-and-live"
}) }}


    {% endmarkdown %}
{% endblock %}