{{ actionLink({
  "text": "Back to top",
  "href": "#",
  "classes": "nhsuk-icon__back-to-top"
}) }}

<hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-u-margin-top-0 nhsuk-u-padding-top-0 nhsuk-section-break--visible">