## Why it's important to make sure everyone can use the service

Everyone who works on DfE digital services has a role to play in making them accessible and inclusive.

If your service isn't accessible to everyone who needs it, you may be breaking the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents" target="_blank" rel="noopner noreferrer">2010 Equality Act (opens in new tab)</a>.

Accessibility regulations say that public sector websites must meet accessibility standards and publish an accessibility statement. You can find out <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps"  target="_blank" rel="noopner noreferrer">more about the regulations on GOV.UK (opens in new tab)</a>.