{% extends "includes/layout.njk" %}

{% block body %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full app-component-reading-width">

      <div class="app-pane">

        <div class="app-pane__side-bar">
          {% block sideNav %}
            {% include "./_side-nav.njk" %}
          {% endblock %}
        </div>

        <div class="app-pane__main-content">

          <h1 class="app-page-heading">

          

            <span class="nhsuk-caption-l">
              {%- if subSection %}
                {%- if theme %}
                  {{theme}}
                {% else %}
                  {{subSection}}
                {% endif %}
              {% else %}
                {{pageSection}}
              {% endif %}
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>

            {{pageTitle}}
          </h1>
  {%- if dateUpdated %}
            <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5">Last updated {{dateUpdated}}
              {%- if updatedBy %} by {{updatedBy}}</p>
            {% endif %}
          {% endif %}

          {% block notificationBanner %}{% endblock %}

          {%- if hideDescription %}
          {% else %}
            <p class="nhsuk-lede-text app-lede-text">{{pageDescription | safe}}</p>
          {% endif %}

          {% block bodyContent %}{% endblock %}

          {% block contactPanel %}
            {% if hideContact != "true" %}
              {% if subSection === "Styles" or subSection === "Components" or subSection === "Patterns" or pageSection === "Content style guide" or pageSection === "Accessibility" or pageSection === "NHS service standard" %}
                {% include "./_contact-panel.njk" %}
              {% endif %}
            {% else %}
            {% endif %}
          {% endblock %}

          {% block afterContact %}{% endblock %}

        

          {%- if backlog_issue_id%}
          <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0"><a href="https://github.com/DFE-Digital/ucd-manual-prototype/issues/{{backlog_issue_id}}" target="_blank">View GitHub issue for this page</a></p>
          {% else%}
          <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">No GitHub issue exists for this page</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}