{% set pageTitle = "Standards all designers must follow" %}
{% set pageDescription = "Standards interaction designers must follow when desinging services, components and patterns." %}
{% set pageSection = "Interaction design" %}
{% set subSection = "Standards" %}

{% set dateUpdated = "April 2022" %}
{% set updatedBy = "a Senior Interaction Designer" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}



{% endmarkdown %}

{% endblock %}
