{% set pageTitle = "Designing accessible services" %}
{% set pageDescription = "Basic considerations to help you design more consistent and accessible user interfaces." %}
{% set pageSection = "Interaction design" %}
{% set subSection = "Standards" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "a Senior Interaction Designer" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  {% markdown %}

When designing components, patterns or features for a service, you should be ensuring you are meeting the following Web Content Accessibility Guidelines (WCAG) requirements as a minimum.

- [](#provide-sufficient-contrast-between-foreground-and-background)
- [That color alone is not used to convey information](#dont-use-color-alone-to-convey-information)
- [Interactive elements are easy to identify]()
- [Navigation options are clear and consistent across the service]()
- [Form elements include clearly associated labels]()
- [Feedback to the user is clear and identifiable]()
- [Headings are used and related content is grouped together]()
- [Designs for different viewports are considered]()
- [Images and media contain alternative descriptions]()
- [Controls for content that starts automatically are provided]()

{{ contentsList({
  items: [
    {
      href: "#ensure-sufficient-contrast-between-foreground-and-background",
      text: "Ensure sufficient contrast between foreground and background"
    },
    {
      href: "#that-color-alone-is-not-used-to-convey-information",
      text: "That color alone is not used to convey information"
    }
  ]
}) }}

## Ensure sufficient contrast between foreground and background

Text and components, like buttons, must have contrast ratios that meet <a href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html" target="_blank">WCAG 1.4.3 - Contrast (Minimum)</a> of the Web Content Accessibility Guidelines (WCAG 2.1). 

This does not apply for logos or text that is in a photograph. 

This helps people who may not be able to distinguish color (color blindness) or have poor or low vision.

The contrast ratio should be at least:

- 4.5:1 for text smaller than 24px, or 19px if bold
- 3:1 for text larger than 24px, or 19px if bold and components (like a text input field or button) and graphic elements (like an icon)

<div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <img src="/assets/contrast-ratio-example.png" class="nhsuk-image__img nhsuk-image__img--border"  alt="Screenshot showing an example of good contrast ratio"/>
 </div>

### Tools you can use

<a href="  https://contrast-grid.eightshapes.com/" target="_blank">Contrast Grid</a> - tool for checking a wide range of color combinations against Levels AA and AAA

<a href="https://contrast-checker.glitch.me/" target="_blank">Color contrast checker</a> - Built by designers from within Government.

  <a href="https://microsoftedge.microsoft.com/addons/detail/colour-contrast-checker/jkmnghgbaaoohmjdblniohhjnpjmnand" target="_blank">Colour Contrast Checker</a> -  Edge plugin to check web pages from within the browser.

  {% include "includes/_back-to-top.njk" %}

## That color alone is not used to convey information

Color can be useful to indicate statuses or other information to users. However, color alone should not be the only way information is conveyed as people who are colorblind may perceive the information differently. 

This is a requirement of <a href="https://www.w3.org/WAI/WCAG21/Understanding/use-of-color" target="_blank">WCAG 1.4.1 - Use of color - Level A</a>.

When using color to differentiate elements, also provide additional information that does not rely on color perception. For example, use an asterisk or text in addition to color to indicate required form fields, and use labels to distinguish areas on graphs.

You must also ensure when using text on colored backgrounds, you are meeting [minimum contrast ratios](#provide-sufficient-contrast-between-foreground-and-background).

<div class="app-example app-example--content">
    <strong class="nhsuk-tag app-example__heading">Example</strong>
    <img src="/assets/color.png" class="nhsuk-image__img nhsuk-image__img--border"  alt="Screenshot showing an example of good contrast ratio"/>
 </div>


### Tools you can use

<a href="https://www.toptal.com/designers/colorfilter" target="_blank">Color blindness webpage checker</a>

  {% include "includes/_back-to-top.njk" %}

## Interactive elements are easy to identify

 {% include "includes/_back-to-top.njk" %}

## Navigation options are clear and consistent across the service

 {% include "includes/_back-to-top.njk" %}

## Form elements include clearly associated labels

 {% include "includes/_back-to-top.njk" %}

## Feedback to the user is clear and identifiable

 {% include "includes/_back-to-top.njk" %}

## Headings are used and related content is grouped together

 {% include "includes/_back-to-top.njk" %}

## Designs for different viewports are considered

 {% include "includes/_back-to-top.njk" %}

## Images and media contain alternative descriptions

 {% include "includes/_back-to-top.njk" %}

## Controls for content that starts automatically are provided

 {% include "includes/_back-to-top.njk" %}

  {% endmarkdown %}
{% endblock %}