{% set pageTitle = "Design process tools and methods" %}
{% set pageDescription = "Tools and methods for designing and building services that are usable and meet user needs and business goals." %}
{% set pageSection = "Interaction design" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "a Senior Interaction Designer" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

## Tools we use

Mirror how we've done this in the UR section

- Lucid
- Figma
- Smaply
- Maze

Link to other tools used by user research...


## Methods for good design


### Ideation

 {% include "includes/_back-to-top.njk" %}

### Design sprint


 {% include "includes/_back-to-top.njk" %}

### What-if
 {% include "includes/_back-to-top.njk" %}

### Design scenarios
 {% include "includes/_back-to-top.njk" %}

### Storyboards
 {% include "includes/_back-to-top.njk" %}

### Wireframing

 {% include "includes/_back-to-top.njk" %} 

### Prototypes

 {% include "includes/_back-to-top.njk" %}

## Assuring good design practices

Expand on these but:

### Co-Creation

 {% include "includes/_back-to-top.njk" %}

### Design critiques

Often called design crits


 {% include "includes/_back-to-top.njk" %}

### Peer review

 {% include "includes/_back-to-top.njk" %}

### Service assessments

 {% include "includes/_back-to-top.njk" %}

{% endmarkdown %}

{% endblock %}                                                         