{% set pageTitle = "Interaction design" %}
{% set pageDescription = "An Interaction designer designs how things should work, they remove risk by testing ideas early and often with real users." %}
{% set pageSection = "Interaction design" %}
{% set subSection = "Interaction design" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "a Senior Interaction Designer" %}
{% set backlog_issue_id = "" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

Interaction designers are essential parts of service teams that want to meet user needs. They work closely with the entire project team, especially User researchers, Service designers, Content designers and Software developers.

## What is interaction design?

A design practice that works out the best way to let users interact with a product or sub-service. This is done to make sure we create inclusive and accessible products that can be used by all people

Interaction design removes the risk of developing systems that don’t meet user needs by:

- testing assumptions, hypothesis, and designs early and often
- ensuring the product is inclusive and accessible

Interaction design along with other disciplines helps us create products that:

- meet the GOV.UK Service Standard
- meet public sector accessibility regulations
- meet current web standards
- meet user and organisational needs
- me simple and intuitive to use
- work in a way that is familiar
- require the minimum possible steps to complete
- are consistent throughout
- are usable by everyone, equally

## When to do it

Interaction design is applicable throughout the agile delivery phases: Discovery, Alpha, Beta and Live. 

In addition, Interaction designers work on legacy services and rolling out changes to ensure DfE’s services are consistent and meets current standards and regulations.

## Benefits

Interaction design supports digital delivery to ensure benefits can be realised, this means it:

- reduces risk, development and maintenance costs by testing assumptions and hypothesis
- improves outcomes by facilitating design sessions to ensure a wide range of possibilities are considered
- improves performance and reduces the number of user errors
- increases user satisfaction and trust in both the service and DfE
- improves efficiency through consistency and familiarity


## Related content

The following links will open in a new tab.

<a href="https://www.interaction-design.org/literature"  target="_blank" rel="noopner noreferrer">Interaction Design Foundation<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> 

<a href="https://www.nngroup.com/articles/"  target="_blank" rel="noopner noreferrer">Nielsen Norman Group<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> World Leaders in Research-Based User Experience

<a href="https://lawsofux.com/"  target="_blank" rel="noopner noreferrer">Laws of UX<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a>  is a collection of best practices that designers can consider when building user interfaces.



{% endmarkdown %}

{% endblock %}
