{% set pageTitle = "Interaction design" %}
{% set pageDescription = "Interaction designers remove risk by designing how things should work. Designers also work closely with user researchers to test ideas early and often with real users." %}
{% set pageSection = "Interaction design" %}
{% set subSection = "Interaction design" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "a Senior Interaction Designer" %}
{% set backlog_issue_id = "" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

Interaction designers also work with service designers, content designers and software developers to ensure good design throughout the service delivery lifecyle.

This ensures services the Department for Education (DfE) create are [inclusive](/design/interaction-design/standards/inclusive-design) and [accessible](/design/interaction-design/standards/accessibility) and can be used by all people

## Removing risk from services

Interaction design removes the risk of developing services that do not meet user needs by:

- testing assumptions, hypothesis, and designs early and often
- ensuring inclusive design principles are considered
- creating components, features and patterns which meet required accessibility standards

Interaction design along with other disciplines helps us create services that:

- meet the Service Standard
- meet public sector accessibility regulations
- meet current web standards
- meet user and organisational needs
- are simple and intuitive to use
- work in a way that is familiar
- require the minimum possible steps to complete
- are consistent throughout
- are usable by everyone, equally

## When to do it

Interaction design is applicable throughout the agile delivery phases: [Discovery](), [Alpha](), [Beta and live](). 

Additionally, interaction designers work on legacy services and rolling out changes to ensure DfE's services are consistent and meet current standards and regulations.

## Benefits of interaction design

Interaction design supports digital delivery to ensure benefits can be realised, this means it:

- reduces risk, development and maintenance costs by testing assumptions and hypothesis
- improves outcomes by facilitating design sessions to ensure a wide range of possibilities are considered
- improves performance and reduces the number of user errors
- increases user satisfaction and trust in both the service and DfE
- improves efficiency through consistency and familiarity

## Related content

The following links will open in a new tab.


<a href="https://designnotes.blog.gov.uk/category/interaction-design/"  target="_blank" rel="noopner noreferrer">Interaction design related posts on GOV.UK Blogs<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> 

<a href="https://www.interaction-design.org/literature"  target="_blank" rel="noopner noreferrer">Interaction Design Foundation<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> 

<a href="https://www.nngroup.com/articles/"  target="_blank" rel="noopner noreferrer">Nielsen Norman Group<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> World Leaders in Research-Based User Experience

<a href="https://lawsofux.com/"  target="_blank" rel="noopner noreferrer">Laws of UX<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a>  is a collection of best practices that designers can consider when building user interfaces.

{% endmarkdown %}

{% endblock %}
