{% set pageTitle = "How to recruit participants" %}
{% set pageDescription = "How to recruit participants including those with access needs." %}
{% set pageSection = "User research" %}

{% set subSection = "How we do user research at DfE" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "User Research Lead" %}
{% set backlog_issue_id = "1" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

{{ insetText({
  "HTML": "<p>The guidance on this page is in addition to <a href=\"https://www.gov.uk/service-manual/user-research/find-user-research-participants\" target=\"_blank\" rel=\"noopner noreferrer\">Service Manual guidance for recruiting user research participants<span class=\"nhsuk-u-visually-hidden\">(opens in new tab)</span></a>.</p>"
}) }}

## Recruiting participants

You must [include people with disabilities at every stage of testing](/user-research/accessibility). 

Do not only do an accessibility testing sprint at the end of the project or just before your assessment.

You can choose from a number of options for how to recruit participants from outside DfE (sometimes called external research). Make sure you choose the most appropriate method for your project.

You can choose to:

- contact existing participants
- use recruitment agencies
- ask schools or charities you have an existing relationship with

You cannot use social media to recruit participants. 

Additional <a href="https://docs.google.com/document/d/1kmx7aiSPIZELKEQ0-csYRl38fATHmPGArkZ1xaR8iNY" target="_blank" rel="noopener noreferrer">guidance on recruiting participants from outside DfE (Google Document)</a>

## If you're finding it difficult to recruit participants with access needs

Consider recruiting people with access needs who aren’t your users, but perform a similar role. For example, administrators, managers or financial users. These are sometimes called proxy users.

This is not ideal but is significantly better than doing no research, or testing with users who are not representative of people who will use the service.  

If you are still struggling, you can use the recruitment agency <a href="https://www.criteria.co.uk/" target="_blank" rel="noopner noreferrer" >Criteria (opens in new tab)</a> to recruit participants.

You'll need to write a screener and a business case for using Criteria. To get help, use the <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" rel="noopner noreferrer" target="_blank">user research channel on Slack</a>.


{% endmarkdown %}

{% endblock %}
