{% set pageTitle = "User research" %}
{% set pageDescription = "Find out about user research at the Department for Education (DfE) and how to get user research support within your team." %}
{% set pageSection = "User research" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "User Research Lead" %}
{% set backlog_issue_id = "1" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

{% markdown %}


## What user research can help you do

- Understand the problems you are trying to solve.
- Decide if a service should be built.
- Ensure the service that you create will work well for users.
- Meet the policy intent and business goals.


The better you [understand your users](/standards/service-standard/1), the more likely you are to design and build a service that works well for them, and that meets business goals.

 How you do this will be assessed at [service assessments](/standards/assessments).


## The research community in DfE

User researchers are encouraged to share ideas on the <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" rel="noopner noreferrer" target="_blank">user research channel on Slack</a>. 

There’s also a <a href="https://ukgovernmentdigital.slack.com/archives/C062J6Y59" rel="noopner noreferrer" target="_blank">cross-government user research channel on Slack</a>.

Research operations publish a weekly update on research activity, as well as a calendar so you can see what research activity is coming up.

{% endmarkdown %}

{% endblock %}