{% set pageTitle = "User research" %}
{% set pageDescription = "Find out about user researchers at DfE and how to get user research support within your team." %}
{% set pageSection = "User research" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "User Research Lead" %}
{% set backlog_issue_id = "1" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "user-research/_breadcrumb.njk" %}
{% endblock %}


{% block notificationBanner %}

<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      You'll be assessed on this
    </span>
  </h3>
   <p>CDDO and DfE service assessments will ensure that you have met the following points: </p>
   <ul class="nhsuk-list">
   <li><a href="/standards/service-standard/5">5. Make sure everyone can use the service</a></li>
</ul>
</div>

{% endblock %}

{% block bodyContent %}

{% markdown %}

User research is a qualitative research specialism which can help teams to learn about their users, and to create services and policies that meet their needs.

## What user research can help you do

User research can help you to:

- understand the problems you are trying to solve
- decide if or what services to build
- help you to ensure the service that you create will work well for users
- meet the policy intent and business goals

The better you [understand your users](/standards/service-standard/1), the more likely you are to design and build a service that works well for them, and that meets business goals.

If you think that a user research specialist may be required on your team, email one of our business partners ddat.businesspartners@education.gov.uk as early as possible to find out:

## User research at service assessments

In DfE user research activity is assessed at [discovery](/user-research/phase/discovery), [alpha](/user-research/phase/alpha), [beta and live](/user-research/phase/beta-and-live). 

Central Digital and Data Office (CDDO) will assess user research at 
 <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-alpha-phase-works" target="_blank" rel="noopner noreferrer">alpha<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a>, <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works" target="_blank" rel="noopner noreferrer">beta<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> and <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-live-phase-works" target="_blank" rel="noopner noreferrer">live<span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a>  assessments.

## Our user research community

The department head of user research is Tom Adams.

We encourage researchers to share ideas and solve problems on the <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" rel="noopner noreferrer" target="_blank">User research channel on Slack</a>. 

There’s also a popular <a href="https://ukgovernmentdigital.slack.com/archives/C062J6Y59" rel="noopner noreferrer" target="_blank">cross-government user research channel on Slack</a> with a very active membership.



We publish a weekly user research update for anyone interested in our work, as well as a calendar so you can see what research we’ve got coming up.

{% endmarkdown %}

{% endblock %}
