{% set pageTitle = "5. Make sure everyone can use the service" %}
{% set pageDescription = "Make sure your service can be used by people with different physical, mental, social, cultural or learning needs, whether it's for the public or for staff working in DfE or across the education sector." %}
{% set pageSection = "Service Standard" %}
{% set subSection = "Service Standard" %}
{% set theme = "Service Standard" %}
{% set dateUpdated = "April 2022" %}
{% set backlog_issue_id = "18" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "standards/_breadcrumb.njk" %}
{% endblock %}

{% block notificationBanner %}

<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      You'll be assessed on this
    </span>
  </h3>
  <p>This page gives you guidance on how to meet this point of the Service Standard at a <a href="/standards/assessments">service assessments</a>.</p>
</div>

{% endblock %}

{% block bodyContent %}

    {% markdown %}

<p class="nhsuk-lede-text app-lede-text">This also includes people who do not have access to the internet or may find it hard to have the skills or confidence to use it.</p>

{% include "includes/_why-accessibility.njk" %}

## Design an inclusive service

To design an inclusive service start with understanding your users and their needs. This is covered in [Service Standard Point 1 - Understand users and their needs](/standards/service-standard/1).

Consider whether the service is suitable for everyone. The ways in which people access a service can be limited on a permanent, temporary or situational basis. For example, a user could have hearing loss, colour blindness or have a slow internet connection. 

Sometimes, users will need help to use your service online. This is known as <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/assisted-digital-support-introduction"  target="_blank" rel="noopner noreferrer">assisted digital support (opens in new tab)</a>.  

## How to meet this standard

To meet government accessibility requirements, digital services must:

- meet level AA of the <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/understanding-wcag-20"  target="_blank" rel="noopner noreferrer">Web Content Accessibility Guidelines (WCAG 2.1) (opens in new tab)</a> as a minimum
- work on the <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies"  target="_blank" rel="noopner noreferrer">most commonly used assistive technologies (opens in new tab)</a> - including screen magnifiers, screen readers and speech recognition tools
- include people with access needs in [user research](/user-research/)
- have an <a href="https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement#decide-if-anything-is-a-disproportionate-burden-to-fix-right-now"  target="_blank" rel="noopner noreferrer">accessibility statement (opens in new tab)</a> that explains how accessible the service is - you need to publish this when the service moves into public beta

If your service meets government accessibility requirements, you’ll also be meeting the accessibility regulations that apply to public sector websites and mobile applications.

## How to apply this standard in your role

Additional guidance for your role and how you can meet this standard at service assessments.


{{ actionLink({
  "text": "Guidance for interaction designers",
  "href": "/design/interaction-design/standards/"
}) }}

{{ actionLink({
  "text": "Guidance for user researchers",
  "href": "/user-research/accessibility"
}) }}


<hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible">

## If you need more help to understand this standard

Speak to your Head of Profession, or ask a question in the DfE Slack channels for [User research](https://ukgovernmentdfe.slack.com/archives/C53D6R7SP) or [Accessibility](https://ukgovernmentdfe.slack.com/archives/CADP1R39Q).

Additional information can be found on the <a href="https://www.gov.uk/service-manual/service-standard/point-5-make-sure-everyone-can-use-the-service"  target="_blank" rel="noopner noreferrer">Service Standard point 5 <span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> guidance page on GOV.UK.


## Related content

The following links will open in a new tab.

<a href="https://accessibility.blog.gov.uk/2016/09/02/dos-and-donts-on-designing-for-accessibility/"  target="_blank" rel="noopner noreferrer">Dos and don'ts on designing for accessibility - Accessibility in government <span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a> 

<a href="https://accessibility.blog.gov.uk/2021/04/23/public-sector-accessibility-regulations-common-problems-and-how-to-avoid-them/"  target="_blank" rel="noopner noreferrer">Public sector accessibility regulations - common problems and how to avoid them - Accessibility in government <span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a>

<a href="https://gds.blog.gov.uk/2012/01/20/user-testing-accessibility/"  target="_blank" rel="noopner noreferrer">User testing accessibility - Government Digital Service <span class="nhsuk-u-visually-hidden">(opens in new tab)</span></a>


    {% endmarkdown %}
{% endblock %}