{% set pageTitle = "How to apply the Service Standard in the Department for Education" %}
{% set pageDescription = "How to apply the Service Standard in the context of Department for Education (DfE) services." %}
{% set pageSection = "Service Standard in DfE" %}
{% set dateUpdated = "April 2022" %}
{% set backlog_issue_id = "4" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "standards/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    {% markdown %}

This service will enable you to:

- address the different needs of people using DfE services
- navigate the complexities of delivering digital services in the education sector
- meet the <a href="https://www.gov.uk/service-manual/service-standard" target="_blank" rel="noopner noreferrer">Service Standard (opens in a new tab)</a>


## The Service Standard in the context of DfE services

You will be assessed on the 14 points of the Service Standard at [service assessments]()


  <ol class="featured-list">
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>Understand users and their needs</h3>
               <a href="/standards/service-standard/1">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">2</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">2</span>Solve a whole problem for users</h3>
               <a href="/standards/service-standard/2">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">3</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">3</span>Provide a joined up experience across all channels</h3>
                 <a href="/standards/service-standard/3">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">4</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">4</span>Make the service simple to use</h3>
                <a href="/standards/service-standard/4">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">5</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">5</span>Make sure everyone can use the service</h3>
                  <a href="/standards/service-standard/5">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">6</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">6</span>Have a multidisciplinary team</h3>
                 <a href="/standards/service-standard/6">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">7</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">7</span>Use agile ways of working</h3>
                <a href="/standards/service-standard/7">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">8</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">8</span>Iterate and improve frequently</h3>
                 <a href="/standards/service-standard/8">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">9</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">9</span>Create a secure service which protects users' privacy</h3>
                <a href="/standards/service-standard/9">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">10</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">10</span>Define what success looks like and publish performance data</h3>
                 <a href="/standards/service-standard/10">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">11</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                     <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">11</span>Choose the right tools and technology</h3>
                 <a href="/standards/service-standard/11">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">12</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">12</span>Make new source code open</h3>
                <a href="/standards/service-standard/12">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">13</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">13</span>Use and contribute to open standards, common components and patterns</h3>
                <a href="/standards/service-standard/13">Find out how to meet this point in DfE</a>
            </div>
        </li>
        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">14</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">14</span>Operate a reliable service</h3>
                <a href="/standards/service-standard/14">Find out how to meet this point in DfE</a>
            </div>
        </li>
    </ol>
    {% endmarkdown %}
{% endblock %}