{% set pageTitle = "Standards" %}
{% set pageDescription = "Find out how to meet the DfE service standard and use tools, methods and guidance that support it." %}
{% set pageSection = "Standards" %}
{% set dateUpdated = "April 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "standards/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

Use the DfE service standard to help you meet the <a href="https://www.gov.uk/service-manual/service-standard" target="_blank" rel="noopner noreferrer">GOV.UK Service Standard (opens in a new tab)</a> and check that you're working to best practice from the start.

{% endmarkdown %}



{% endblock %}
