{% set pageTitle = "DfE service standard" %}
{% set pageDescription = "This DfE companion to the GOV.UK Service Standard will help you check that you're working to best practice from the start." %}
{% set pageSection = "Standards" %}
{% set dateUpdated = "April 2022" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "standards/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    {% markdown %}


The DfE service standard is designed to help teams:

- meet the <a href="https://www.gov.uk/service-manual/service-standard" target="_blank" rel="noopner noreferrer">GOV.UK Service Standard (opens in a new tab)</a>
- address the different needs of education service users
- navigate the complexities of delivering digital services in the education sector

It contains the 14 points of the GOV.UK service standard, with guidance to help teams meet them in an education context.

You must meet all 14 points of the service standard whether your service is being assessed by the Central Digital and Data Office (CDDO) or through the DfE Assessment Team.

## The GOV.UK Service Standard in the context of education


  <ol class="featured-list">

        <li class="featured-list--item">
            <div class="featured-list--item__content">
                <span class="featured-list--item__number featured-list--item__number--mobile nhsuk-heading-l">1</span>
                <h3 class="featured-list--item__heading nhsuk-heading-m">
                    <span class="featured-list--item__number nhsuk-heading-l nhsuk-u-margin-bottom-1">1</span>Understand users and their needs</h3>
                <p>Take the time to understand your users' needs and their abilities and the problem you're trying to solve for them.</p>
                <p>Think about people's entire experience and the systems, services and processes around what you're building.</p>

[Find out how to meet point 1](/standards/service-standard/1).
</div>
       

    </ol>

    {% endmarkdown %}

{% endblock %}