{% set pageDescription = "Design and build digital services for the Department for Education." %}
{% set pageLayout = "Homepage" %}

{% extends "includes/layout.njk" %}

{% block breadcrumb %}{% endblock %}

{% block outerBody %}

  <main id="maincontent" role="main">

    <section class="nhsuk-hero">
      <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-hero__wrapper app-hero__wrapper">
              <h1 class="nhsuk-u-margin-bottom-4">Service standards in the Department for Education</h1>
              <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">How to design and build standards compliant user-centered services for Department for Education users.</p>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-third app-latest-update">
            {# <div class="nhsuk-card app-card--transparent nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a href="/standards/service-standard">Service Standard</a>
                </h2>
                <p class="nhsuk-card__description">
                  Understand how to apply the GOV Service Standard across DfE.</p>
              </div>
            </div> #}
          </div>
        </div>
      </div>
    </section>

    <section class="nhsuk-section">
      <div class="nhsuk-width-container app-width-container">

        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-full">

            <ul class="nhsuk-grid-row nhsuk-card-group">

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <a href="/standards">Service Standards in DfE</a>
                    </h2>
                    <p class="nhsuk-card__description">How to apply the GOV Service Standard in DfE and how you'll be assessed.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <a href="/user-research">User research</a>
                    </h2>
                    <p class="nhsuk-card__description">How to do user research in DfE and the research library</p>
                  </div>
                </div>
              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <a href="/design">Design</a>
                    </h2>
                    <p class="nhsuk-card__description">How to ensure services are usable and understandable through service and interaction design</p>
                  </div>
                </div>
              </li>
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a href="/content">Content</a>
                  </h2>
                  <p class="nhsuk-card__description">How to write accessible, understabdable content for DfE services</p>
                </div>
              </div>
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a href="/development-and-testing">Development and testing</a>
                  </h2>
                  <p class="nhsuk-card__description">How to ensure services are built to meet standards</p>
                </div>
              </div>
            </li>

            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a href="/product-and-delivery">Product and delivery</a>
                  </h2>
                  <p class="nhsuk-card__description">How to ensure service teams meet the service standards throughout the delivery lifecycle</p>
                </div>
              </div>
            </li>
          </ul>

        </div>

      </div>

      <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6 dfeuk-hr">

      <div class="nhsuk-width-container app-width-container">

        <h2 class="">Other manuals and guidance</h2>

        <ul class="nhsuk-grid-row nhsuk-card-group">

          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a href="https://dfe-digital.github.io/architecture/#dfe-architecture"  target="_blank" rel="noopener noreferrer">DfE Architecture</a>
                </h2>
                <p class="nhsuk-card__description">Architectural principles, standards and guidance to follow when designing services.</p>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a href="https://technical-guidance.education.gov.uk/" target="_blank" rel="noopener noreferrer">DfE Technical</a>
                </h2>
                <p class="nhsuk-card__description">Guidance and information on how to build and host services. </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h2>Contributions</h2>
          <p>The manual is maintained by the <a href="/community">UCD Community at DfE</a>. If you've got a question or want to feedback, you can <a href="https://ukgovernmentdfe.slack.com/archives/C035WMESFFF" target="_blank">get in touch through Slack</a>.</p>
        </div>
      </div>

    </div>

  </section>

</main>
{% endblock %}