{% set pageTitle = "This page doesn't exist yet" %}
{% set hideDescription = true %}
{% set disableSearch = true %}

{% extends "includes/layout-full.njk" %}

{% block bodyContent %}

  {% markdown %}



This is a prototype, and sometimes pages will change, so you might want to go back to the [homepage](/) or [search the site](/search)

## What this service is

We want to help teams understand how to apply the Service Standard when designing and building services for users. 

The guidance in this website will help teams understand:

- why we have standards
- what the standards are
- how to apply them in their role
- when to apply them in their project


### Getting involved

You can get involved in helping to [create content](/contact) or [test this prototype](/contact).



## What we're working on

<table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Service Standards in DfE</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Section
      </th>
      <th role="columnheader" class="nhsuk-u-width-one-quarter" scope="col">
        Status
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/1">1. Understand users and their needs</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/2">2. Solve a whole problem for users</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/3">3. Provide a joined up experience across all channels</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/4">4. Make the service simple to use</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/5">5. Make sure everyone can use the service</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--yellow">
  In progress
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/6">6. Have a multidisciplinary team</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/7">7. Use agile ways of working</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/8">8. Iterate and improve frequently</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/1">9. Create a secure service which protects users' privacy</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/10">10. Define what success looks like and publish performance data</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/11">11. Choose the right tools and technology</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/12">12. Make new source code open</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
     <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/13">13. Use and contribute to open standards, common components and patterns</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/standards/service-standard/14">14. Operate a reliable service</a></td>
      <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
  </tbody>
</table>

<table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Other content</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Section
      </th>
      <th role="columnheader" class="nhsuk-u-width-one-quarter" scope="col">
        Status
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
   
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="/user-research">User research</a></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">
  In progress
</strong></td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Design</td>
      <td class="nhsuk-table__cell ">  <strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
       <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Content</td>
      <td class="nhsuk-table__cell ">  <strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
       <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Development and testing</td>
      <td class="nhsuk-table__cell ">  <strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
       <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Product and delivery</td>
      <td class="nhsuk-table__cell ">  <strong class="nhsuk-tag nhsuk-tag--grey">
  Not started
</strong></td>
    </tr>
  </tbody>
</table>




      {% endmarkdown %}

{% endblock %}