{% set pageTitle = "Site map" %}
{% set pageDescription = "A list of pages on this website - with links" %}
{% set hideDescription = true %}
{% set dateUpdated = "February 2022" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/standards/">Standards</a>
    </li>
    <li>
      <a href="/standards/service-standard/5">5. Make sure everyone can use the service</a>
    </li>
    <li>
      <a href="/user-research/">User research</a>
    </li>
    <li>
      <a href="/user-research/tools-and-techniques-for-user-research">How to recruit people to test with</a>
    </li>
  </ul>

{% endblock %}
