{% set pageTitle = "Site map" %}
{% set pageDescription = "A list of pages on this website - with links" %}
{% set hideDescription = true %}
{% set dateUpdated = "February 2022" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/standards/">Standards</a>
    </li>
    <li>
      <a href="/standards/service-standard/5">5. Make sure everyone can use the service</a>
    </li>
    <li>
      <a href="/user-research/">User research</a>
    </li>
          <li>
      <a href="/user-research/user-research-testing-we-do-at-dfe">Tools and techniques for user research testing</a>
    </li>
        <li>
      <a href="/user-research/tools-and-techniques-for-user-research">How to recruit people to test with</a>
    </li>
            <li>
      <a href="/design/apply-accessibility-at-all-design-stages">Apply accessibility at all design stages</a>
    </li>
              <li>
      <a href="/user-research/phase/">What you need to do at each phase</a>
    </li>
    <li>
      <a href="/accessibility-statement">Accessibility statement</a>
    </li>
    <li>
      <a href="/cookie-policy">Cookie policy</a>
    </li>
    <li>
      <a href="/terms-and-conditions">Terms and conditions</a>
    </li>
    <li>
      <a href="/your-privacy">Your privacy</a>
    </li>
        <li>
      <a href="/content/">Content design</a>
    </li>
            <li>
      <a href="/content/how-we-write-for-the-standards-in-dfe-service">How we write for the standards in DfE service</a>
    </li>
  </ul>

{% endblock %}
