{% set pageTitle = "Terms and conditions" %}
{% set pageDescription = "This website is operated by DfE. These terms govern your use of this DfE prototype." %}
{% set dateUpdated = "January 2020" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}


{% endblock %}
