{% set pageTitle = "Content design" %}
{% set pageDescription = "" %}
{% set pageSection = "Content" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "Content designer" %}
{% set backlog_issue_id = "" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}


{% endmarkdown %}

{% endblock %}
