{% set pageTitle = "Beta and live" %}
{% set pageDescription = "What interaction designers need to do to meet the Service Standard at beta and live phases." %}
{% set pageSection = "Interaction design" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "User Research Lead" %}
{% set backlog_issue_id = "1" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}


{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

## To meet point 5 of the Service Standard

User researchers must:

- [TK]

### How you'll be assessed on this

At an beta or live assessment assessors will look for:

- demonstrate how you’ve done user research with people who have accessibility needs from the time you started designing the service
- demonstrate how you’ve tested with users who need assisted digital support

{% endmarkdown %}

{% endblock %}
