{% set pageTitle = "Discovery" %}
{% set pageDescription = "What interaction designers need to do to meet the Service Standard at discovery phase." %}
{% set pageSection = "Interaction design" %}
{% set dateUpdated = "April 2022" %}
{% set updatedBy = "Senior Interaction designer" %}
{% set backlog_issue_id = "1" %}
{% set isSectionHomepage = "true" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "design/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% markdown %}

{% endmarkdown %}

{% endblock %}
